<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from wrappixel.com/ampleadmin/ampleadmin-html/ampleadmin/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 May 2018 16:43:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/bootstrap_Admin/plugins/images/favicon.png">
    <title>Lloydant E-commerce Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap_Admin/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Content/bootstrap_Admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/Content/bootstrap_Admin/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap_Admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Content/bootstrap_Admin/css/animate.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/Content/bootstrap_Admin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!--Gauge chart CSS -->
    <link href="~/Content/bootstrap_Admin/plugins/bower_components/Minimal-Gauge-chart/css/cmGauge.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/Content/bootstrap_Admin/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Content/bootstrap_Admin/css/colors/blue-dark.css" id="theme" rel="stylesheet">

    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="index-2.html">
                        <!--This is dark logo icon--><img src="~/Content/images/lloydant.jpeg" alt="home" class="dark-logo" style="height: 50px; width: 70px;" /><!--This is light logo icon-->@*<img src="~/Content/B/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />*@
                        
                        <!-- Logo text image you can use text also -->@*<span class="hidden-xs">
            <!--This is dark logo text--><img src="~/Content/bootstrap_Admin/plugins/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="~/Content/bootstrap_Admin/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
        </span>*@
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs"><i class="ti-close ti-menu"></i></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="mdi mdi-gmail"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Content/bootstrap_Admin/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Content/bootstrap_Admin/plugins/images/users/sonu.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Content/bootstrap_Admin/plugins/images/users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Content/bootstrap_Admin/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- .Task dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="mdi mdi-check-circle"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Task 1</strong> <span class="pull-right text-muted">40% Complete</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Task 2</strong> <span class="pull-right text-muted">20% Complete</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Complete</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Task 3</strong> <span class="pull-right text-muted">60% Complete</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Task 4</strong> <span class="pull-right text-muted">80% Complete</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete (danger)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#"> <strong>See All Tasks</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/Content/bootstrap_Admin/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">@User.Identity.Name</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            @*<li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="~/Content/bootstrap_Admin/plugins/images/users/varun.jpg" alt="user" /></div>
                                        <div class="u-text">
                                            <h4>Steave Jobs</h4>
                                            <p class="text-muted">varun@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>*@
                            @if (Request.IsAuthenticated)
                            {
                                //using (Html.BeginForm("LogOff", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "logoutForm" }))
                                //{
                                   

                                    <li>
                                        <a href="@Url.Action("LogOff", "Account", new {area = "Security"})">
                                            @Html.AntiForgeryToken()
                                            <i class="fa fa-power-off"></i> Logout
                                        </a>
                                    </li>
                                //}
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Login", "Account", new {area = "Security"})">
                                        <i class="fa fa-power-off"></i> Login
                                    </a>
                                </li>

                            }
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="active waves-effect">
                            <a href="@Url.Action("Dashboard", "Home")" class="waves-effect active"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard </span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu"> Manage Product <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("Index", "Product", new {area = "Admin"})"><i class="fa-fw">PS</i><span class="hide-menu">Product SetUp</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu"> Manage Inventory <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("Index", "Inventory", new {area = "Admin"})"><i class="fa-fw">IS</i><span class="hide-menu">Inventory SetUp</span></a> </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu"> Manage ProductTypes <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewProductTypes", "Product", new {area = "Admin"})"><i class="fa-fw">PTS</i><span class="hide-menu">ProductType SetUp</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Manage Product Order <span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewProductOrderLog", "Product", new {area = "Admin"})"><i class="fa-fw">POL</i><span class="hide-menu">Product Order Log</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Manage Brand<span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewBrands", "Product", new {area = "Admin"})"><i class="fa-fw">BS</i><span class="hide-menu">Brand SetUp</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Manage Unit<span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewUnits", "Product", new {area = "Admin"})"><i class="fa-fw">US</i><span class="hide-menu">Unit SetUp</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Manage Role<span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewRole", "User", new {area = "Admin"})"><i class="fa-fw">RS</i><span class="hide-menu">Role SetUp</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Manage Orders<span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("ViewCustomerOrder", "Customer", new {area = "Admin"})"><i class="fa-fw">VSR</i><span class="hide-menu">View Sales Report</span></a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cart-outline fa-fw" data-icon="v"></i> <span class="hide-menu">Reports<span class="fa arrow"></span> </span></a>
                            <ul class="nav nav-second-level">
                                <li> <a href="@Url.Action("WeeklySaleReport", "Report", new {area = "Admin"})"><i class="fa-fw">WSR</i><span class="hide-menu">Weekly Sales Report</span></a> </li>
                                <li> <a href="@Url.Action("DailySalesReport", "Report", new {area = "Admin"})"><i class="fa-fw">DSR</i><span class="hide-menu">Daily Sales Report</span></a> </li>
                                <li> <a href="@Url.Action("DeliveryReport", "Report", new {area = "Admin"})"><i class="fa-fw">DR</i><span class="hide-menu">Delivery Report</span></a> </li>
                            </ul>
                        </li>
                        


                        @*<li class="xn-openable waves-effect">
                            <a href="#">
                                <span class="fa fa-gear"></span> <span class="xn-text">Manage ProductType</span>
                            </a>
                            <ul>
                                <li class="waves-effect">
                                    <a href="@Url.Action("ViewProductSupplyLog", "Product", new {area = "Admin"})">
                                        <span class="fa fa-gear"></span>
                                        <span class="hide-menu">Product Supply</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                        @*<li class="devider"></li>
                        <li class="xn-openable waves-effect">
                            <a href="#">
                                <span class="fa fa-gear"></span>
                                <span class="xn-text">Manage Vendors</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Vendor", new {area = "Admin"})" class="waves-effect">
                                        <span class="fa fa-gear"></span>
                                        <span class="hide-menu">Vendor SetUp</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                       
                    }
                    <li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            @RenderBody()

            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy;LLoydant E-commerce Template </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap_Admin/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/bootstrap_Admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/bootstrap_Admin/js/waves.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/flot/jquery.flot.js"></script>
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

    <!-- chartist chart -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Guage chart -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/Minimal-Gauge-chart/js/cmGauge.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/bootstrap_Admin/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Content/bootstrap_Admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
@RenderSection("scripts", required: false)
</html>
