@model Abundance_SN.Models.ProductViewModel

@{
    ViewBag.Title = "Invoice";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card {
        box-shadow: 0 0 6px 6px rgba(158, 156, 156, 0.1), 0 0 5px 5px rgba(221, 221, 221, 0.1);
        padding: 35px 20px;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    var nonConflict = $.noConflict(true);
    $(document).ready(function () {
        $("#printId").on('click', function () {
            
            nonConflict("#printId").toggle();
            nonConflict(".printable").printThis(
            {
                removeInline: false,
                printContainer: false,
                importCSS: true,
                importStyle: false,
                loadCSS: "Content/css/style.css"


            });

        });

    });

</script>
<div class="col-md-8 offset-md-2 printable" style="padding: 0 0 30px 0;">
    <div class="card p-4">
        <div class="col-md-12 text-center text-uppercase mb-2">
            <h2>Payment Invoice</h2><hr>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h3>BILL FROM</h3>
                    <p>Company address</p>
                </div>

                <div class="w3ls_logo_products_right col-md-5">
                    <h1>
                        <a href="#"><span>Best</span> Sellers</a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h3>BILL TO</h3>
                    <p>@Model.Person.Surname  @Model.Person.FirstName  @Model.Person.OtherName</p>
                    <p>@Model.Person.Address</p>
                </div>

                <div class="col-md-5">
                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <td>INVOICE</td>
                                <td>
                                    <b>@Model.SalesLogs[0].CartHash</b>
                                </td>
                            </tr>

                            <tr>
                                <td>INVOICE DATE</td>
                                <td><b>@Model.SalesLogs[0].DateOrdered.Value.ToShortDateString()</b></td>
                            </tr>

                            <tr class="bg-secondary text-white">

                                <td>AMOUNT DUE</td>
                                <td>
                                    <b>₦@Model.SalesLogs.Sum(s => s.Amount)</b>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col-5">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Cost</th>
                        <th scope="col">Line Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SalesLogs.Count; i++)
                    {
                        var amount = 0;
                        {
                            amount = (int) (Model.SalesLogs[i].Product.Price * Model.SalesLogs[i].Quantity);
                        }
                    <tr>

                            <td>@Model.SalesLogs[i].Product.Name</td>
                            <td>@Model.SalesLogs[i].Product.Description</td>
                            <td>@Model.SalesLogs[i].Quantity</td>
                            <td>₦@Model.SalesLogs[i].Product.Price</td>
                            <td>₦@amount.ToString("n")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h5>NOTES</h5>
                    <p>free shipping for first 2 Orders</p>
                </div>
                <div class="col-md-5">
                    <table class="table table-hover">

                        <tbody>
                            <tr>

                                <td>
                                    <b>SUBTOTAL</b>
                                </td>
                                <td>
                                    ₦@Model.SalesLogs.Sum(s => s.Amount)
                                </td>
                            </tr>

                            <tr>
                                <td>TAX</td>
                                <td>
                                    <b>₦ 0.00</b>
                                </td>
                            </tr>

                            <tr class="bg-secondary text-white">

                                <td> TOTAL</td>
                                <td>
                                    <b>₦@Model.SalesLogs.Sum(s => s.Amount)</b>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <button class="submit" id="printId"> Click Here to Print<span class="glyphicon glyphicon-chevron-print" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

<div class="clearfix"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

