@model Abundance_SN.Models.ProductViewModel

@{
   // Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EditHomePageSlider", "Home", new { area = "admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Home Page Slider</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Edit Home Page Slider</a></li>
                                <!-- <li class="breadcrumb-item active"><a href="#">Basic Forms</a>
                                </li> -->
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="content-header-right col-md-6 col-12">
                    <div class="dropdown float-md-right">
                        <button class="btn btn-danger dropdown-toggle round btn-glow px-2" id="dropdownBreadcrumbButton"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownBreadcrumbButton">
                            <a class="dropdown-item" href="#"><i class="la la-calendar-check-o"></i> Calender</a>
                            <a class="dropdown-item" href="#"><i class="la la-cart-plus"></i> Cart</a>
                            <a class="dropdown-item" href="#"><i class="la la-life-ring"></i> Support</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">

                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row">
                        <div class="col-lg-8 offset-2 col-md-8 offset-md-2 offset-sm-0 col-sm-12">
                            @if (TempData["Message"] != null)
                            {
                                @Html.Partial("_Message", (Abundance_SN.Model.Model.Message)TempData["Message"])
                            }
                        </div>
                        <div class="col-md-8 offset-md-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form">Edit Home Page Slider</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="card-text">
                                        </div>
                                        <form class="form">
                                            <div class="form-body">

                                                <div class="row">
                                                    @Html.HiddenFor(model => model.HomePageSlider.Id)
                                                    
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.HomePageSlider.ImageUrl, "Slider Image", new { @class = "col-md-4 control-label" })
                                                                <input type="file" title="Upload Image" id="file" name="file" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.HomePageSlider.ImageUrl, null, new { @class = "text-danger" })
                                                            </div>
                                                    </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        @Html.LabelFor(model => model.HomePageSlider.Activated, "Active", new { @class = "control-label " })
                                                        @Html.CheckBoxFor(model => model.HomePageSlider.Activated, new { @class = "custom-checkbox" })
                                                        @Html.ValidationMessageFor(model => model.HomePageSlider.Activated, null, new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                                <div class="form-actions">

                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="la la-check-square-o"></i> Save
                                                    </button>


                                                </div>

                                    </div>
                                            </form>

                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
                        }

