@model Abundance_SN.Models.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
    $(document).ready(function () {
        var navoffeset = $(".agileits_header").offset().top;
        $(window).scroll(function () {
            var scrollpos = $(window).scrollTop();
            if (scrollpos >= navoffeset) {
                $(".agileits_header").addClass("fixed");
            } else {
                $(".agileits_header").removeClass("fixed");
            }
        });

    });
</script>

<!-- banner -->
<div class="banner">

    <div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner7">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>
        @if (Model.GroupBrands.Count > 0 && Model.GroupBrands != null)
        {
            <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
                <div class="w3ls_w3l_banner_nav_right_grid">
                    <h3>House Hold</h3>
                    @for (int i = 1; i <= Model.GroupBrands.Count; i++)
                    {
                        var currentProduct = Model.Products.Where(s => s.Brands.Id == i).ToList();
                        <div class="w3ls_w3l_banner_nav_right_grid1">

                            @for (int j = 0; j < currentProduct.Count; j++)
                            {
                                <h6>@currentProduct[j].Brands.Name</h6>
                                <div class="col-md-3 w3ls_w3l_banner_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                <img src="~/Content/images/offer.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="#"><img src="@Url.Content(currentProduct[j].ImageUrl)" alt=" " class="img-responsive" /></a>
                                                            <p>@currentProduct[j].Name</p>
                                                            <h4>@Model.Products[j].Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture) <span>$5.00</span></h4>
                                                        </div>
                                                        <div class="snipcart-details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="item_Id" value="@currentProduct[j].Id" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="@currentProduct[j].Name" />
                                                                    <input type="hidden" name="amount" value="@currentProduct[j].Price" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </figure>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->


<script src="~/Content/js/minicart.js"></script>
<script>
    paypal.minicart.render();

    paypal.minicart.cart.on('checkout', function (evt) {
        var items = this.items(),
            len = items.length,
            total = 0,
            i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
            total += items[i].get('quantity');
        }

        if (total < 3) {
            alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            evt.preventDefault();
        }
    });

</script>
