@model Abundance_SN.Models.UserViewModels

@{
//Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>


<script type="text/javascript">
    var jqueryVersion = $.noConflict(true);
    $(document).ready(function () {


        jqueryVersion("#MyTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });
        jqueryVersion.extend($.fn.dataTable.defaults, {
            responsive: false
        });
        $("#deleteId").on("click", function () {
            function confirmDelete() {
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (!isConfirm) return;
                    $.ajax({
                        url: "scriptDelete.php",
                        type: "POST",
                        data: {
                            id: 5
                        },
                        dataType: "html",
                        success: function () {
                            swal("Done!", "It was succesfully deleted!", "success");
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Error deleting!", "Please try again", "error");
                        }
                    });
                });
            }
        });


    });
</script>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">View Roles</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            @*<li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>*@
                            <li class="breadcrumb-item"><a href="#">Roles</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="dropdown float-md-right">
                    <button class="btn btn-danger dropdown-toggle round btn-glow px-2" id="dropdownBreadcrumbButton"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownBreadcrumbButton">
                        <a class="dropdown-item" href="#"><i class="la la-calendar-check-o"></i> Calender</a>
                        <a class="dropdown-item" href="#"><i class="la la-cart-plus"></i> Cart</a>
                        <a class="dropdown-item" href="#"><i class="la la-life-ring"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="basic-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div id="DataTables_Table_10_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                                        <div class="row">
                                            <div class="dt-buttons btn-group col-md-7 pt-2">
                                                @*<a class="btn btn-secondary buttons-copy buttons-html5 btn-primary mr-1" tabindex="0" aria-controls="MyTable"
                                                       href="#">
                                                        <span>Download</span>
                                                    </a>
                                                    <a class="btn btn-secondary buttons-print btn-primary mr-1" tabindex="0" aria-controls="MyTable" href="#">
                                                        <span>Print</span>
                                                    </a>*@
                                            </div>

                                            <div id="DataTables_Table_10_filter" class="dataTables_filter col-md-3 ">
                                                @*<label>
                                                        Search:
                                                        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="MyTable">
                                                    </label>*@
                                            </div>
                                            <div class="col-md-2 pt-1 text-right">
                                                <a class="btn btn-secondary buttons-print ml-auto btn-warning mr-1" tabindex="0" aria-controls="MyTable" href="@Url.Action("CreateRole", "User", new {area = "Admin"})">
                                                    <span>Create Role</span>
                                                </a>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-bordered file-export dataTable" id="MyTable" role="grid" aria-describedby="DataTables_Table_10_info">
                                            <thead>
                                                <tr role="row">


                                                    <th class="sorting_asc" tabindex="0" aria-controls="MyTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                                        style="width: 126px;">Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="MyTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending"
                                                        style="width: 202px;">Active</th>
                                                    <th class="sorting" tabindex="0" aria-controls="MyTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending"
                                                        style="width: 28px;">Edit</th>
                                                    <th class="sorting" tabindex="0" aria-controls="MyTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending"
                                                        style="width: 28px;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tbody>
                                                @for (int i = 0; i < Model.Roles.Count; i++)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td>@Model.Roles[i].Name</td>
                                                        <td>@Model.Roles[i].Active</td>
                                                        <td>@Html.ActionLink("Edit", "EditRole", new { ProNo = @Model.Roles[i].Id, area = "admin", controller = "User" }, new { @class = "btn btn-outline-primary box-shadow-1 btn-sm ft-edit-2" })</td>
                                                        <td>@Html.ActionLink("Delete", "DeleteRole", new { ProNo = @Model.Roles[i].Id, area = "admin", controller = "User" }, new { @class = "btn btn-outline-primary box-shadow-1 btn-sm ft-x", id = "deleteId" })</td>

                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>

                                                    <th rowspan="1" colspan="1">Name</th>
                                                    <th rowspan="1" colspan="1">Active</th>
                                                    <th rowspan="1" colspan="1">Edit</th>
                                                    <th rowspan="1" colspan="1">Delete</th>

                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
