@model Abundance_SN.Models.ProductViewModel
@{
    ViewBag.Title = "title";
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/css/iziToast.css" rel="stylesheet"/>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type='text/javascript' src="~/Scripts/jquery.mycart.js"></script>
<script src="~/Scripts/iziToast.js"></script>

<!-- Customizer scripts-->
<script type="text/javascript">
    var noConflict = $.noConflict(true);
    noConflict(document).ready(function () {
        $('.Load').hide();
        $('#totalAmount').html('');
        var sumPrice = 0;
        var address;
        var paymentModeName;
        var userDetials;
        var currentPaymentMode;
        var deliveryMood = sessionStorage.getItem('stringfiedDeliveryMood');

        $('#retryPaymentDiv').hide();
        if (localStorage.products != null && localStorage.products != "" && localStorage.products != "[]") {

            var paymentMode = sessionStorage.getItem('stringfiedPaymentMode');
            var persondetials = sessionStorage.getItem('myJson');
            currentPaymentMode = JSON.parse(paymentMode);
            userDetials = JSON.parse(persondetials);

            if (currentPaymentMode == 1) {
                paymentModeName = "Credit Card";
                $('#paymentModeId').html('');
                $('#paymentModeId').append(' <li><span class="text-muted">' + paymentModeName + '</span></li>');

                if (userDetials[0].shippingAddress != "" && userDetials[0].shippingAddress != undefined) {

                    address = userDetials[0].shippingAddress;
                } else {
                    address = userDetials[0].landMark + userDetials[0].state;
                }
            } else if (currentPaymentMode == 2) {
                paymentModeName = "Pay Cash In Store";
                $('#paymentModeId').html('');
                $('#paymentModeId').append(' <li><span class="text-muted">' + paymentModeName + '</span></li>');
            }
            var allProducts = JSON.parse(localStorage.products);
            for (var i = 0; i < allProducts.length; i++) {
                var description =  unescape(allProducts[i].summary);
                var key2, key3, value2, value3;
                if (allProducts[i].key1 && allProducts[i].value1) {
                    if (!allProducts[i].key2 || !allProducts[i].value2) {

                        key2 = " ";
                        value2 = " ";

                    } else {
                        key2 = allProducts[i].key2;
                        value2 = allProducts[i].value2;
                    }
                    if (!allProducts[i].key3 || !allProducts[i].value3) {

                        key3 = " ";
                        value3 = " ";
                    } else {
                        key3 = allProducts[i].key3;
                        value3 = allProducts[i].value3;
                    }
                    $('#myTable').append(' <tr id="' + allProducts[i].id + '"> <td> <div class="product-item"> <a class="product-thumb" href="#"><img src="' + allProducts[i].image + '" alt="Product"></a><div class="product-info"> <h4 class="product-title"><a href="#">' + allProducts[i].name + '<small>x ' + allProducts[i].quantity + '</small></a></h4><span><em>Description: </em> ' + description + '</span><span><em>' + allProducts[i].key1 + '</em>   ' + allProducts[i].value1 + '</span><span><em>' + key2 + '</em> ' + value2 + '</span><span><em>    ' + key3 + '</em> ' + value3 + '</span></div> </div> </td><td class="text-center text-lg text-medium">₦' + allProducts[i].price + '</td><td class="text-center"><div><a href="#" ><img src="' + '@Url.Content("~/Content/images/close_1.png")' + '"alt=" " class="removemMe"></a></div></td></tr>');
                    sumPrice += parseInt(allProducts[i].quantity) * parseInt(allProducts[i].price);
                }
            }
          
            $('#totalAmount').text('₦' + sumPrice);
            if (address == undefined) {
                address = "-";
            }
            $('#deliverydetials').append('<li><span class="text-muted">Client:</span>' + userDetials[0].firstName + '</li><li><span class="text-muted">Address:</span>' + address + '</li><li><span class="text-muted">Phone:</span>' + userDetials[0].mobileNumber + '</li>');

        }

        $('.removemMe').click(function () {
            $('.subtotal').text('');
            $('#totalAmount').html('');
            var $tr = $(this).closest("tr");
            var id = $tr.attr("id");
            $tr.hide(500, function () {

                removeProduct(id);
                var totalQuantity = getTotalQuantity();
                var totalPrice = getTotalPrice();
                $('.my-cart-badge').text(totalQuantity);
                $('.subtotal').text('₦' + totalPrice);
                $('#totalAmount').text('₦' + totalPrice);
                if (totalQuantity == "0" || totalQuantity == "") {
                    $('#cartBody').html(' ');
                    $('#cartBody').append('<div class="alert alert-danger" role="alert"> Your cart is empty</div>');
                } else {
                    var products = JSON.parse(localStorage.products);
                    for (var i = 0; i < products.length; i++) {
                        $('#cartBody').append('<div class="dropdown-product-item my-product-remove"id="' + products[i].id + '"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="#"><img src="/EasyShop' + products[i].image + '" alt="Product"></a><div class="dropdown-product-info"><a class="dropdown-product-title" href="#">' + products[i].name + '</a><span class="dropdown-product-details">' + products[i].quantity + ' x ₦' + products[i].price + '</span></div></div>');
                    }
                    $('#cartBody').append('<div class="toolbar-dropdown-group"><div class="column"><span class="text-lg">Total:</span></div><div class="column text-right"><span class="text-lg text-medium">₦' + totalPrice + '</span></div></div><div class="toolbar-dropdown-group">  <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="' + '@Url.Action("Cart", "Payment", new { area = "Customer"})' + '">View Cart</a></div> <div class="column"><a class="btn btn-sm btn-block btn-success" href="' + '@Url.Action("Checkout", "Checkout", new { area = "Customer"})' + '">Checkout</a></div></div></div>');
                    $('.subtotal').append('₦' + totalPrice);
                }
            });
        });
        $('#btnCompleteOrder').on('click', function () {
            $('.Load').show();
            var processedOrderNumber = JSON.parse(localStorage.OrderNumber);
            if (processedOrderNumber != undefined && processedOrderNumber != "") {
                noConflict.ajax({
                    type: "POST",
                    url: "@Url.Action("PayStackPayment", "Payment", new { area = "Customer" })",
                    dataType: "json",
                    data: { orderNumber: processedOrderNumber },
                    success: function (payStackUrl) {

                        if (payStackUrl != null && payStackUrl) {
                            window.location.href = payStackUrl;
                    } else {

                        $('.Load').hide();

                        iziToast.error({
                            rtl: false,
                            layout: 1,
                            drag: false,
                            timeout: 10000,
                            close: true,
                            overlay: true,
                            toastOnce: true,
                            id: 'question',
                            progressBar: true,
                            title: 'Error',
                            message: 'Sorry switch could not be reached at this time.Kindly try again',
                            position: 'center'
                        });
                    }
                },
                error: function (ex) {
                    $('.Load').hide();

                    iziToast.error({

                        rtl: false,
                        layout: 1,
                        drag: false,
                        timeout: 10000,
                        close: true,
                        overlay: true,
                        toastOnce: true,
                        id: 'question',
                        progressBar: true,
                        title: 'Error',
                        message: 'Sorry we were not able to complete your order kindly try Again',
                        position: 'center'
                    });
                    console.log(ex);
                },
                traditional: true
            });
            } else {
                var arrayToPost = [];
                var allProducts = JSON.parse(localStorage.products);
                for (var i = 0; i < allProducts.length; i++) {

                    allProducts[i].summary = escape(allProducts[i].summary);
                    arrayToPost.push(allProducts[i]);
                }
                var myRecordArray = JSON.stringify(arrayToPost);
                noConflict.ajax({
                    type: "POST",
                    url: "@Url.Action("MakePayment", "Payment", new { area = "Customer" })",
                    dataType: "json",
                    data: { myRecordArray: myRecordArray, surname: userDetials[0].surname, firstName: userDetials[0].firstName, middleName: userDetials[0].middleName, mobile: userDetials[0].mobileNumber, landMark: userDetials[0].landMark, city: userDetials[0].city, state: userDetials[0].state, email: userDetials[0].email, shippingAddress: userDetials[0].shippingAddress, paymentMode: currentPaymentMode, uuid: userDetials[0].uuid, deliveryMode: deliveryMood },
                    success: function (arrayJsonModel) {

                        if (arrayJsonModel.PayStackUrl != null && arrayJsonModel.PayStackUrl != undefined) {
                              window.location.href = arrayJsonModel.PayStackUrl;
                        } else {
                            localStorage.OrderNumber = JSON.stringify(arrayJsonModel.CustomerOrderNumber);
                            $('.Load').hide();

                            iziToast.error({

                                rtl: false,
                                layout: 1,
                                drag: false,
                                timeout: 10000,
                                close: true,
                                overlay: true,
                                toastOnce: true,
                                id: 'question',
                                progressBar: true,
                                title: 'Error',
                                message: 'Sorry we were not able to complete your order kindly try Again',
                                position: 'center'
                            });
                        }
                        //setTimeout(function () {
                        //    if (arrayJsonModel.paymentMode == "2") {
                        //        window.location.href = '/Home/Index';
                        //        sessionStorage.clear();
                        //        localStorage.products = "[]";
                        //    } else {
                        //        window.location.href = '/Customer/Payment/PayStackPayment/' + '?customerId=' + arrayJsonModel.CustomerIdEncrypted;
                        //    }
                        //    localStorage.OrderNumber = "[]";
                           
                        //}, 1000);

                    },
                    error: function (ex) {
                        $('.Load').hide();

                        iziToast.error({

                            rtl: false,
                            layout: 1,
                            drag: false,
                            timeout: 10000,
                            close: true,
                            overlay: true,
                            toastOnce: true,
                            id: 'question',
                            progressBar: true,
                            title: 'Error',
                            message: 'Sorry we were not able to complete your order kindly try Again',
                            position: 'center'
                        });
                        console.log(ex);
                    },
                    traditional: true
                });
            }

        });

    });
   
    var removeProduct = function (id, productOptionId) {
        var products = JSON.parse(localStorage.products);
        products = $.grep(products, function (value, index) {
            return value.id != id || value.productOptionId != productOptionId;
        });
        localStorage.products = JSON.stringify(products);
    }
    var getTotalQuantity = function () {
        var total = 0;
        var products = JSON.parse(localStorage.products);
        $.each(products, function (index, value) {
            total += value.quantity * 1;
        });
        return total;
    };
    var getTotalPrice = function () {
        var products = JSON.parse(localStorage.products);
        var total = 0;
        for (var i = 0; i < products.length; i++) {
            total += parseInt(products[i].quantity) * parseInt(products[i].price);
        }
        return total;
    };

</script>
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Checkout</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Index", "Home", new {area = ""})">Home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Checkout</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fade show text-center" style="margin-bottom: 30px;">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_SN.Model.Model.Message)TempData["Message"])
        }
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <!-- Checkout Adress-->
            <div class="col-xl-9 col-lg-8">
                <div class="checkout-steps">
                    <a class="active" href="#">3. Review</a><a class="completed" href="#"><span class="angle"></span>2. Payment</a>@*<a class="completed" href="#"><span class="step-indicator icon-circle-check"></span><span class="angle"></span>2. Shipping</a>*@<a class="completed" href="#"><span class="step-indicator icon-circle-check"></span><span class="angle"></span>1. Address</a>
                </div>
                <h4>Review Your Order</h4>
                <hr class="padding-bottom-1x">
                <div class="table-responsive shopping-cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th class="text-center">Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable"></tbody>
                    </table>
                </div>
                <div class="shopping-cart-footer">
                    <div class="column"></div>
                    <div class="column text-lg">Subtotal: <span class="text-medium" id="totalAmount"></span></div>
                </div>
                <div class="row padding-top-1x mt-3">
                    <div class="col-sm-6">
                        <h5>Shipping to:</h5>
                        <ul class="list-unstyled" id="deliverydetials"></ul>
                    </div>
                    <div class="col-sm-6">
                        <h5>Payment method:</h5>
                        <ul class="list-unstyled" id="paymentModeId"></ul>
                    </div>
                </div>

                <div class="checkout-footer margin-top-1x">
                    <div class="column hidden-xs-down">
                        <a class="btn btn-outline-secondary" href="@Url.Action("Index","Payment",new {area = "Customer"})"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                    </div>
                    <div class="column">
                        <a class="btn btn-primary" href="#" id="btnCompleteOrder">Complete Order</a>
                        <span style="display: none" class="Load"><img src="~/Content/Images/bx_loader.gif" /></span>

                    </div>
                </div>
            </div>
            <!-- Sidebar          -->
            <div class="col-xl-3 col-lg-4">
                <aside class="sidebar">
                    <div class="padding-top-2x hidden-lg-up"></div>
                    <!-- Featured Products Widget-->
                    @if (Model.Products.Count > 0)
                    {
                        <section class="widget widget-featured-products">
                            <h3 class="widget-title">Recommended For You</h3>
                            <!-- Featured Products Widget-->
                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                <!-- Entry-->
                                <div class="entry">
                                    <div class="entry-thumb"><a href="@Url.Action("ViewSingleProduct", "Product", new { area = "Customer", Id = Model.Products[i].Id })"><img src="@Url.Content(Model.Products[i].ImageUrl)" alt="Product"></a></div>
                                    <div class="entry-content">
                                        <h4 class="entry-title"><a href="@Url.Action("ViewSingleProduct", "Product", new { area = "Customer", Id = Model.Products[i].Id })">@Model.Products[i].Name</a></h4><span class="entry-meta">₦@Model.Products[i].DiscountAmount</span>
                                    </div>
                                </div>


                            }
                        </section>
                    }
                   
                    
                </aside>
            </div>
        </div>
    </div>
</div>
